chromadb==0.5.23
gunicorn==20.1.0
Jinja2==3.1.2
langchain==0.3.9
langchain-chroma==0.1.4
langchain-community==0.3.9
langchain-core==0.3.21
langchain-openai==0.2.11
langchain-text-splitters==0.3.2
nltk==3.9.1
openai==1.57.0
openapi-schema-pydantic==1.2.4
pdf2image==1.16.3
pdfminer.six==20240706
six==1.16.0
tabulate==0.9.0
tiktoken==0.8.0
unstructured==0.16.9
unstructured-client==0.28.1
uvicorn==0.22.0
websockets==11.0
pymongo==4.9
motor==3.6.0
beanie==1.28.0