.chatbot {
    position: relative; /* Add this to create a positioning context */
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    color: #cfcfe2;

  }
  

  
  .headerContent {
    width: 100%; /* Ensure full width for centering the title */
    position: relative; /* Create a positioning context for absolute elements */
  }
  

  