@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #f7f8fa;
  color: #01050e;
  max-width: 800px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
    padding: 0 20px;
  }
}
